@font-face {
    font-family: 'Caveat Brush';
    src: url('../fonts/CaveatBrush-Regular.ttf') format('woff2'),
        url('../fonts/CaveatBrush-Regular.woff') format('woff'),
        url('../fonts/CaveatBrush-Regular.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.ttf') format('woff2'),
        url('../fonts/Montserrat-SemiBold.woff') format('woff'),
        url('../fonts/Montserrat-SemiBold.woff2') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}