
#container .wrapper-about{
   height:775px ;
   margin: 18px 0px 0px 0px;
   background-color: var(--azul);
}

.header{
    padding: 25px 85px 40px 0px;
}

.logo img{
    position:absolute;
    left: 390px;
    top: 135px;
}

.logo strong{
    font-size: 18px;
    position:absolute;
    left: 385px;
    top: 270px;
}

.about-left img{   
    float: left;
    position: absolute;  
    top: 18px;
}

.about-right img{
    float: right;
    position: relative;  
}

.info_container .parrafo{
    font-size: 25px;
    position:absolute;
    left: 250px;
    top: 315px;
    width: 365px;
    text-align: justify; 
    text-align-last: center;
    word-spacing: 6px;
   
}

.hashtag{
    font-family: 'Caveat Brush';
    color: var(--blanco);
    font-size: 54px;
    position:absolute;
    left: 300px;
    top: 545px;
    letter-spacing: 0.5px;
}

.social_media{
    width: 600px;
    height: 50px;
    float:right;
    position: absolute;
    left: 190px;
    top: 725px;
    vertical-align: middle;
}

.social_media img{
    width: 30px;
    padding: 0px 10px 0px 30px;
    vertical-align: middle;
    }

.social_media a{
    color: var(--blanco);
    font-size: 12px;
    text-decoration: none;
    font-family: 'Caveat Brush';
    letter-spacing: 0.8px;
}