#about{
    
}

#container .wrapper-about{
   height:775px ;
   margin: 18px 0px 0px 0px;
   background-color: var(--azul);
}

.header{
    padding: 25px 85px 40px 0px;
}

.logo img{
    position:absolute;
    left: 390px;
    top: 135px;
}

.logo strong{
    font-size: 18px;
    position:absolute;
    left: 385px;
    top: 270px;
}

.about-left img{
    width: 245px;
    height: 710px;
    float: left;
    position: absolute;  
    top: 18px;
}

.about-right img{
    width: 930px;
    height: 690px;
    float: right;
    position: relative;  

}

.info_container .parrafo{
    font-size: 25px;
    position:absolute;
    left: 250px;
    top: 315px;
    width: 365px;
    text-align: justify; 
    text-align-last: center;
    word-spacing: 6px;
   
}

.hashtag{
    font-family: 'Caveat Brush';
    color: var(--blanco);
    font-size: 54px;
    position:absolute;
    left: 300px;
    top: 545px;
    letter-spacing: 0.5px;
}
